/* general styling */

body {
  margin: 0;
  padding: 0;
  font: 10px;
}

h1, h2, p {
  margin: 0;
  padding: 0;
  display: block;
}

.container {
}

.fonts a{
  float: right;
  color: white;
  text-decoration: none;
  margin: 1% 1% 0 0;
  font-size: .8em;
  font-family: Arial;
}

hr {
  border: 1px solid white;
  width: 100%;
  color: white;
  background-color: white;
}

/* intro styling */

#section-intro {
  background: url(images/masks.jpeg) no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
    #section-intro .container {
      background: rgba(255, 255, 255, 0.6);
      padding: 0 1.3% 1.3% 1.3%;
    }

    #section-intro p, a, h1, h2{
      text-align: center;
      color: black;
    }

    #section-intro h2, a {
      font-size: 30px;
      text-decoration: none;
      font-family: 'Playfair Display', serif;
    }

    #section-intro h1 {
      font-size: 5em;
      font-weight: 700;
      font-family: 'Playfair Display', serif;
    }

/* midsummer styling */

#section-midsummer {
  background: url(images/midsummer.jpeg) no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
    #section-midsummer .container {
      position: absolute;
      margin: 18% 10% ;
    }

    #section-midsummer h1 {
      font-family: 'Dancing Script', cursive;
      font-weight: 400;
      color: white;
      font-size: 2.7em;
    }

    #section-midsummer #midsummer-text {
      font-family: 'EB Garamond', serif;
      color: white;
      font-size: 1.1em;
      margin-top: 8%;
    }

/* tempest styling */

#section-tempest {
  background: url(images/tempest.jpeg) no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  position: relative;
}
    #section-tempest .container {
      margin: auto;
      width: 500px;
      height: 300px;
      text-align: center;
      padding-top: 10%;
    }

    #section-tempest .container h1 {
      color: black;
      font-size: 5em;
      font-family: 'Megrim', cursive;
    }

    #section-tempest .container p {
      color: black;
      font-size: 1em;
      font-family: 'Roboto Slab', serif;
      margin-top: 3%;
    }

/* measure styling */

#section-measure {
  background: url(images/measure.jpeg) no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

  #section-measure .container {
    position: absolute;
    margin-left: 63%;
    margin-top: 10%;
  }

  #section-measure h1{
    font-family: 'Medula One', cursive;
    font-weight: 100;
    font-size: 4.5em;
    text-align: left;
    color: #690714;
  }

   #section-measure #measure-text{
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
  }

/* macbeth styling */

#section-caesar {
  background: url(images/ocean2.jpeg) no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  position: relative;
}

  #section-caesar .container {
    position: absolute;
    margin-top:10%;
    margin-left:40%;
  }

  #section-caesar h1 {
    font-family: 'Oswald';
    font-size: 5em;
    font-weight: 100;
    color: rgba(255,255,255, 0.9);
    text-align: center;
    margin-top: -10%;
  }

  #section-caesar #caesar-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: rgba(255,255,255, 0.9);
    text-align: center;
    padding: 1.5%;
  }